<a href="https://colab.research.google.com/github/Thibault13320/machine-learning-zoomcamp/blob/main/01-intro/homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Setting up the environment
import pandas as pd
import numpy as np

import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

In [ ]:
print("\n" + "="*50)
print("Q1: Pandas version")
print("="*50)
print(f"Pandas version: {pd.__version__}")

==================================================
Q1: Pandas version
==================================================
Pandas version: 2.2.2

In [ ]:
# Download the dataset
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv

--2025-10-02 18:23:44--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 874188 (854K) [text/plain]
Saving to: ‘car_fuel_efficiency.csv’

car_fuel_efficiency 100%[===================>] 853.70K  --.-KB/s    in 0.03s

2025-10-02 18:23:44 (29.4 MB/s) - ‘car_fuel_efficiency.csv’ saved [874188/874188]

In [ ]:
# Read the dataset
df = pd.read_csv('car_fuel_efficiency.csv')

print("Dataset loaded successfully!")
print(f"Dataset shape: {df.shape}")
print("\nFirst few rows:")
print(df.head())

Dataset loaded successfully!
Dataset shape: (9704, 11)

First few rows:
   engine_displacement  num_cylinders  horsepower  vehicle_weight  \
0                  170            3.0       159.0     3413.433759
1                  130            5.0        97.0     3149.664934
2                  170            NaN        78.0     3079.038997
3                  220            4.0         NaN     2542.392402
4                  210            1.0       140.0     3460.870990

   acceleration  model_year  origin fuel_type         drivetrain  num_doors  \
0          17.7        2003  Europe  Gasoline    All-wheel drive        0.0
1          17.8        2007     USA  Gasoline  Front-wheel drive        0.0
2          15.1        2018  Europe  Gasoline  Front-wheel drive        0.0
3          20.2        2009     USA    Diesel    All-wheel drive        2.0
4          14.4        2009  Europe  Gasoline    All-wheel drive        2.0

   fuel_efficiency_mpg
0            13.231729
1            13.688217
2            14.246341
3            16.912736
4            12.488369

In [ ]:
print("\n" + "="*50)
print("Q2: Records count")
print("="*50)
records_count = len(df)
print(f"Number of records in the dataset: {records_count}")

==================================================
Q2: Records count
==================================================
Number of records in the dataset: 9704

In [ ]:
print("\n" + "="*50)
print("Q3: Fuel types")
print("="*50)
fuel_types = df['fuel_type'].nunique()
print(f"Number of unique fuel types: {fuel_types}")
print(f"Fuel types: {df['fuel_type'].unique()}")

==================================================
Q3: Fuel types
==================================================
Number of unique fuel types: 2
Fuel types: ['Gasoline' 'Diesel']

In [ ]:
print("\n" + "="*50)
print("Q4: Missing values")
print("="*50)
missing_values = df.isnull().sum()
columns_with_missing = (missing_values > 0).sum()
print(f"Number of columns with missing values: {columns_with_missing}")
print("\nMissing values per column:")
print(missing_values[missing_values > 0])

==================================================
Q4: Missing values
==================================================
Number of columns with missing values: 4

Missing values per column:
num_cylinders    482
horsepower       708
acceleration     930
num_doors        502
dtype: int64

In [ ]:
print("\n" + "="*50)
print("Q5: Max fuel efficiency from Asia")
print("="*50)

==================================================
Q5: Max fuel efficiency from Asia
==================================================

In [ ]:
# First check what origins we have
print("Available origins:", df['origin'].unique())

Available origins: ['Europe' 'USA' 'Asia']

In [ ]:
# Filter for Asia (adjust if the value is different)
asia_cars = df[df['origin'] == 'Asia']
print(f"Number of Asian cars: {len(asia_cars)}")

Number of Asian cars: 3247

In [ ]:
# Get max fuel efficiency
max_fuel_efficiency = asia_cars['fuel_efficiency_mpg'].max()
print(f"Maximum fuel efficiency of cars from Asia: {max_fuel_efficiency}")

Maximum fuel efficiency of cars from Asia: 23.759122836520497

In [ ]:
print("\n" + "="*50)
print("Q6: Median value of horsepower")
print("="*50)

==================================================
Q6: Median value of horsepower
==================================================

In [ ]:
#Find the median value of horsepower
median_before = df['horsepower'].median()
print(f"Median horsepower (before filling): {median_before}")

Median horsepower (before filling): 149.0

In [ ]:
#Calculate the most frequent value
mode_horsepower = df['horsepower'].mode()[0]
print(f"Most frequent horsepower value: {mode_horsepower}")

Most frequent horsepower value: 152.0

In [ ]:
#Fill missing values with the most frequent value
df['horsepower'] = df['horsepower'].fillna(mode_horsepower)

In [ ]:
#Calculate median again
median_after = df['horsepower'].median()
print(f"Median horsepower (after filling): {median_after}")

Median horsepower (after filling): 152.0

In [ ]:
#Check if it changed
if median_after > median_before:
    print("Answer: Yes, it increased")
elif median_after < median_before:
    print("Answer: Yes, it decreased")
else:
    print("Answer: No, it stayed the same")

Answer: Yes, it increased

In [ ]:
print("\n" + "="*50)
print("Q7: Sum of weights (Linear Regression)")
print("="*50)

==================================================
Q7: Sum of weights (Linear Regression)
==================================================

In [ ]:
#Select all cars from Asia
asia_cars = df[df['origin'] == 'Asia']
print(f"Number of Asian cars: {len(asia_cars)}")

Number of Asian cars: 3247

In [ ]:
#Select only columns vehicle_weight and model_year
selected_cols = asia_cars[['vehicle_weight', 'model_year']]

In [ ]:
#Select the first 7 values
first_7 = selected_cols.head(7)
print("First 7 rows:")
print(first_7)

First 7 rows:
    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [ ]:
#Get the underlying NumPy array
X = first_7.values
print(f"\nX shape: {X.shape}")

X shape: (7, 2)

In [ ]:
#Compute XTX (X transpose times X)
XTX = X.T @ X
print(f"\nXTX:")
print(XTX)

XTX:
[[62248334.33150762 41431216.5073268 ]
 [41431216.5073268  28373339.        ]]

In [ ]:
#Invert XTX
XTX_inv = np.linalg.inv(XTX)
print(f"\nInverse of XTX:")
print(XTX_inv)

Inverse of XTX:
[[ 5.71497081e-07 -8.34509443e-07]
 [-8.34509443e-07  1.25380877e-06]]

In [ ]:
#Create array y
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [ ]:
#Multiply inverse of XTX with transpose of X, then multiply by y
w = XTX_inv @ X.T @ y
print(f"\nw (weights):")
print(w)

w (weights):
[0.01386421 0.5049067 ]

In [ ]:
#Sum of all elements
sum_w = w.sum()
print(f"\nSum of all elements in w: {sum_w}")
print(f"Rounded to 2 decimal places: {sum_w:.2f}")

Sum of all elements in w: 0.5187709081074016
Rounded to 2 decimal places: 0.52